<h1>Users#show</h1>

<%= @user.username %>

<p>followers</p>
<strong><%= @user.followers.any? ? @user.followers.all : 'no followers' %></strong>

<p>following</p>
<%= @user.followeds.any? ? @user.followeds.all.to_a : 'no followeds' %>

<p>Posts</p>
<ul>
<% @user.sources.each do |s| %>
  <li><%= s.text %></li>
<% end %>
</ul>