/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$light-blue: #1DA1F2;
$dark-blue: #213246;
$dark-grey: #718093;

$primary-light-bg: $light-blue;
$primary-dark-bg: $dark-blue;

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
}

#app-container {
  max-width: 100%;
}

.main-cols {
  margin-top: 0;
  height: 100%;
  display: flex;
  flex-direction: row; // this is default
  align-items: stretch;

  .columns:last-child {
    margin-bottom: 0;
  }
}

.yield-cols {
  padding: 0;
  min-height: 100vh;
  .card {
    margin: 30px 30px 0;
    padding: 15px 15px 15px;
  }
}

.user-show-content {
  .cover-photo {
    height: 30vh;
    background-position: center 17%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .user-col {
    padding-left: 0;
  }
  .user-stats {
    .columns {
      margin: 0;
      .column {
        padding: 0;
      }
    }
  }
}

.source-index-content {
  .source-item {
    margin-bottom: 5px;
  }
  .who-to-follow {
    margin-top: 3em;
  }
}

.is-15-percent {
  flex: none;
  background-color: $primary-dark-bg;
  width: 15%;
  color: #fff;
  padding-top: 10px;
  padding-left: 25px;  
  padding-bottom: 0;
}

.navbar {
  background-color: $light-blue;
  padding-right: 0.75rem;

  a {
    color: #fff;
  }
}

.user-profile {
  .is-three-quarters {
    text-align: center;
    padding-top: 27px;
  }
  span {
    color: $dark-grey;
  }
}

.user-follow-stats {
  a {
    text-align: center;
    display: block;
    color: #fff;
    
    span {
      color: $dark-grey;
    }
  }
}

.side-nav-links {
  list-style-type: none;
  
  li {
    margin-bottom: 25px;
  }

  a {
    color: $dark-grey;
    text-transform: uppercase;        
  }
}

